<!DOCTYPE html>
<html lang="es">
<head>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <meta charset="UTF-8">
    <title>{% block title %}Inventario Habitus{% endblock %}</title>
    <script>
        const socket = new WebSocket(
            'ws://' + window.location.host + '/ws/notificaciones/'
        );

        socket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    if (data.type === 'notificacion') {
        Swal.fire({
            title: 'Notificación',
            text: data.message,
            icon: 'info',
            confirmButtonText: 'Aceptar'
        });
    }
};

        socket.onclose = function (e) {
            console.error('Conexión cerrada');
        };
    </script>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>