<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de solicitudes - Inventario Habitus</title>
</head>
<body>
    <h1>Lista de solicitudes</h1>
    <ul>
        {% for solicitud in solicitudes %}
            <li>
                {{ solicitud.item }} ({{ solicitud.cantidad }} unidades) - 
                De {{ solicitud.almacen_origen }} a {{ solicitud.almacen_destino }} - 
                Estado: 
                {% if solicitud.aprobado_por_admin_almacen and solicitud.aprobado_por_superadmin %}
                    Aprobado
                {% elif solicitud.aprobado_por_admin_almacen %}
                    Pendiente de aprobación por super-administrador
                {% else %}
                    Pendiente de aprobación por administrador de almacén
                {% endif %}
                {% if request.user.perfil == 'admin' and not solicitud.aprobado_por_admin_almacen %}
                    <a href="{% url 'aprobar_traslado' solicitud.id %}">Aprobar</a>
                {% elif request.user.perfil == 'superadmin' and not solicitud.aprobado_por_superadmin %}
                    <a href="{% url 'aprobar_traslado' solicitud.id %}">Aprobar</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'inicio' %}">Volver al inicio</a>
</body>
<div class="pagination">
    <span class="step-links">
        {% if solicitudes.has_previous %}
            <a href="?page=1">&laquo; primera</a>
            <a href="?page={{ solicitudes.previous_page_number }}">anterior</a>
        {% endif %}

        <span class="current">
            Página {{ solicitudes.number }} de {{ solicitudes.paginator.num_pages }}.
        </span>

        {% if solicitudes.has_next %}
            <a href="?page={{ solicitudes.next_page_number }}">siguiente</a>
            <a href="?page={{ solicitudes.paginator.num_pages }}">última &raquo;</a>
        {% endif %}
    </span>
</div>
</html>